:root {
  --color-background: #000119;
  --font-weight: 400;
  --font-size: 80px;
}

.projects {
  background-color: #1a1a1a;
  background-image: url("../../images/projects-ellipse.png");
  background-repeat: no-repeat;
  background-position: bottom -10px left 10px;
  position: relative;
}

.projects2 {
  background-image: url("../../images/projects-ellipse2.png");
  background-repeat: no-repeat;
  background-position: bottom -120% right 30%;
  width: 100%;
  height: 100vh;
}

.project1 {
  background-image: url("../../images/project-ellipse4.png");
  background-repeat: no-repeat;
}

.project2 {
  background-image: url("../../images/project-ellipse2.png");
  background-repeat: no-repeat;
  background-position: top 1% right 2%;
}

.projects2 .container {
  padding: 40px 20px;
}

.polyglots-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.lunik {
  margin-top: 10px;
}

.projects-title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 116.5%;
  letter-spacing: -0.005em;
  text-transform: uppercase;
  background: linear-gradient(
    95.64deg,
    #B5B4B5 7.72%,
    rgba(239, 239, 239, 0.84) 74.98%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35); 
}

.projects-title:hover {
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #000,
    #000,
    #000,
    #000
    
  );
  -webkit-text-stroke: 2px #FF7B3F;
}

.polyglots-link {
  text-decoration: none;
}

.drama-info {
  margin-top: 30px;
}

.drama {
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #A7A7A7;
  opacity: 0.9;
}

.drama-text {
  font-family: "Onest";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #A7A7A7;
  opacity: 0.7;
}

.hr {
  border: 1px solid #232323;
  margin: 10px 0px;
}

.polyglots2-link {
  display: none;
}

.project-rights {
  display: none;
}

.project-lefts {
  display: none;
}

/*****************************************/

/* OPEN RESPONSIVE */

@media only screen and (max-width: 768px) {
  .projects-title {
    font-size: 60px;
    line-height: 98%;
    margin: 0px;
    margin-top: 20px;
  }

  .navbar-list {
    display: none;
  }

  .polyglots-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;

  }

  .drama-info {
    margin-top: -10px;
  }

  .polyglots2-link {
    display: block;
    font-family: "Onest";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
    opacity: 0.9;
    margin-top: 20px;
    border: 1px solid #ffffff;
    padding: 10px;
    width: 30%;
    text-align: center;
  }

  .project-rights {
   display: none;
  }

  .project-lefts{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 550px) {
  .projects-title {
    font-size: 36.5848px;
  }

  .drama {
    font-size: 22px;
  }


  .polyglots2-link {
    width: 40%;
  }

  .navbar{
    padding:30px 0px;
  }

  .drama-text {
    font-size: 16px;
  }

  .projects2 .container {
    padding: 0px;
  }
  
}

@media only screen and (max-width: 375px) {
}
