.nft {
  background-color: #1a1a1a;
  background-image: url("../../images/nftEllipse.png");
  background-position: left -190px bottom -262px;
  background-repeat: no-repeat;

  position: relative;
}

.nft2 {
  background-image: url("../../images/nft.png");
  background-repeat: no-repeat;
  background-position: left 200px;
  background-size: 800px;
  width: 100%;
  height: 100vh;
}

.nfts {
  background-image: url("../../images/nft2.png");
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: right 30px top 50%;
}

.nft3 {
  background-image: url("../../images/nftEllipse2.png");
  background-repeat: no-repeat;
  background-position: right -230px bottom -520px;
}

.nft2 .container {
  padding: 40px 40px;
}

.nft-title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100.5%;
  text-align: center;
  letter-spacing: -0.005em;
  text-transform: uppercase;
  background: linear-gradient(
    182.98deg,
    #B5B4B5 -1.21%,
    rgba(242, 242, 242, 0.84) 110.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 67px 111px rgba(0, 0, 0, 0.44);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
}

.nft-image {
  position: absolute;
  top: 10%;
  left: 1px;
}

.nft-img {
  display: none;
}

.nft-image {
  display: none;
}

.nft-image2 {
  display: none;
}

.nft21 {
  display: none;
}

@media only screen and (max-width: 1372px) {
  .nft-title {
    font-size: 60px;
  }
}
@media only screen and (max-width: 1096px) {
  .nft-title {
    font-size: 55px;
  }
}
@media only screen and (max-width: 1013px) {
  .nft-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 868px) {
  .nft-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .nft-title {
    font-size: 40px;
  }

  .nft2 {
    background-size: 1620px;
    background-position: bottom 150% left 40%;
  }

  .nft-image {
    display: block;
    position: absolute;
    left: 80%;
    bottom: 20%;
  }

  .nft{
    overflow: hidden;
  }

  /* .navbar {
    padding: 40px 0px;
    margin-bottom: 30px;
  } */

  .nft-image2 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 40%;
  }

  .nfts {
    background-size: 750px;
    background-position: top 120% right 120%;
  }
}

@media only screen and (max-width: 638px) {
  .nft-title {
    font-size: 25px;
  }

  .nft-image2 {
    bottom: 40%;
  }

  .nft-image {
    top: 12%;
    left: 70%;
  }

  .ellipse-nft {
    position: absolute;
    top: 6%;
    left: 5%;
  }
  .nft21 {
    display: none;
    position: absolute;
    top: 10%;
    left: 40%;
  }

  .navbar {
    padding: 30px 0px;
  }

  .nft2 .container {
    padding: 0px
  }
  
}

@media only screen and (max-width: 448px) {
  .nfts {
    background-position: center;
    background-size: 600px;
  }

  .navbar {
    padding: 30px 0px;
  }

  .nft-image {
    left: 0%;
  }

  .nft2 {
    background-position: bottom 160% left 40%;
  }

  .nfts {
    background-size: 650px;
    background-position: top 100% right 90%;
  }

  .nft-image {
    left: 5%;
    width: 60px;
  }
  .nft-title {
    font-size: 23px;
  }
}

@media only screen and (max-width: 375px) {
  .nft-title {
    font-size: 20px;
    line-height: 37px;
  }
}
