.founders {
  background-color: #1a1a1a;
  background-image: url("../../images/ellipse.png");
  background-repeat: no-repeat;
  background-position: top 210px;
  position: relative;
  padding: 40px 40px;
}

.founders .container {
  background-image: url("../../images/ellipse2.png");
  background-repeat: no-repeat;
  background-position: top 100px left 70px;
}

.founders-title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  background: linear-gradient(
    95.34deg,
    #f8f8f8 24.04%,
    rgba(239, 239, 239, 0.84) 82.81%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.founders-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.founders_informations {
  width: 510px;
}

.founders_info-title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 126.5%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  background: linear-gradient(
    95.34deg,
    #f8f8f8 24.04%,
    rgba(239, 239, 239, 0.84) 82.81%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35);
}

.founders-text {
  font-family: "Onest";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 20px;
}

.span {
  margin: 15px 0px;
}

.founders_informations {
  margin-left: 50px;
  
}

/* FILMOGRAPGHY */
.films-info-title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 126.5%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  background: linear-gradient(
    95.42deg,
    #f8f8f8 15.14%,
    rgba(239, 239, 239, 0.84) 66.86%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35);
  transform: rotate(0.07deg);
  text-align: center;
  margin-top: 70px;
}

.films{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
  overflow: hidden;
}

.films-name{
  width:33%;
}

.founders1{
  position: absolute;
  top: 310px;
  left: 0px;
}

.founders2{
  position: absolute;
  top: 230px;
  right: 0px;
}

/* OPEN RESPONSIVE */

/****************************************/

@media only screen and (max-width: 768px){
  .founders1{
    width: 130px;
    top: 250px;
  }


  .founders2{
    position: absolute;
    top: 210px;
    right: 0px;
    width: 120px;
  }

  .founders .container{
    background-image:none 
  }

  .founders-info{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .founders{
    overflow: hidden;
  }

  .navbar-list.open{
    height: 310vh;
  }

  .founders-title{
    font-size: 34px;
  }

  .founders-info_img{
    width: 100%;
  }
}


@media only screen and (max-width: 588px){
  .founders2{
    display: none;
  }

  .founders1{
    display: none;
  }

  .founders-title{
    margin-top: 60px;
  }

  .films{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .navbar-list.open{
    height: 290vh;
  }
  .navbar{
    padding:30px 0px;
  }

  .films-name{
    width: 100%;
    padding: 7px 0px;
  }

  .founders_info-title{
    font-size:20px
  }

  .films-info-title{
    font-size: 30px;
  }

  .founders-text{
    font-size: 12px;
    line-height: 155%;
  }

  .founders_informations{
    margin-left:0px;
    width:400px
  }

  .founders-title{
    font-size: 24px;
  }
}

@media only screen and (max-width: 398px){
  .founders_informations{
    width: 300px;

  }
  .films-info-title{
    font-size: 24px;
  }
}