.luniks{
  background-color: #1a1a1a;
  background-image: url("../../images/polyglotRights.png"), url("../../images/polyglotLefts.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top 0% left 0%, bottom 0% right -210%;
}

.luniks .container {
  padding: 40px 40px;
}

.lunik-info {
  display: flex;
  align-items: center;
}

.lunik_info-infos {
  margin-left: 64px;
}

.lunik_info-title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 126.5%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  background: linear-gradient(
    95.64deg,
    #f8f8f8 7.72%,
    rgba(239, 239, 239, 0.84) 74.98%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35);
}

.lunik-span {
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  margin-right: 10px;
}

.lunik-text {
  font-family: "Onest";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 31px;
  color: #b8afaf;
  margin: 15px 0px;
}

.lunik-description {
  width: 520px;
  margin-top: 55px;
}

.description-info {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 126.5%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  background: linear-gradient(
    95.34deg,
    #f8f8f8 24.04%,
    rgba(239, 239, 239, 0.84) 82.81%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35);
  margin-bottom: 24px;
}

.description-text {
  font-family: "Onest";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.7;
}

/* OPEN RESPONSIVE */

@media only screen and (max-width: 1028px){
  .navbar{
    padding: 40px 0px;
  }

  .lunik_info-title{
    font-size: 55px;
  }
}

@media only screen and (max-width: 856px){
  .lunik_info-title{
    font-size: 45px;
  }
}

@media only screen and (max-width: 768px){
  .lunik-info{
    display: flex;
    flex-direction: column;
  }

  .luniks{
    overflow: hidden;
  }

  .lunik_info-infos{
    margin: 0px;
  }

  .lunik_img{
    margin-right: 290px;
  }
  
}

@media only screen and (max-width: 658px){
  .lunik_img{
    margin-right: 200px;
  }

  .lunik-description{
    width: 100%;
  }
}

@media only screen and (max-width: 538px){
  .lunik_img{
    margin-right: 80px;
  }

  .description-info{
    font-size: 24px;
  }

  .eunomia-ellipse{
    top: 7%;
    display: none;
  }
}
